<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArbeitInventur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ArbeitInventur.Properties.Settings>
            <setting name="DataJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="BenutzerMerken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BenutzerGemerkt" serializeAs="String">
                <value />
            </setting>
            <setting name="ExocadConstructions" serializeAs="String">
                <value />
            </setting>
            <setting name="ExocaddentalCAD" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalScanFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDentalCadWatcher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFolderUploader" serializeAs="String">
                <value>False</value>
            </setting>
        </ArbeitInventur.Properties.Settings>
    </userSettings>
</configuration>